main {
    margin: 20px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

ul,
ol {
    color: #1e366a;
    border: dotted #1e366a 1px;
    /*ドット 色 太さ*/
    padding: 0.5em 0.5em 0.5em 2em;
}

ul li,
ol li {
    line-height: 1.5;
    padding: 0.5em 0;
}




table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 300px;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
    border: 1px solid #bbb;
    padding: .35em;
}

table th,
table td {
    padding: 1em 10px 1em 1em;
    border-right: 1px solid #bbb;
}

table th {
    font-size: .85em;
}

table thead tr {
    background-color: #eee;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
        width: 100%
    }

    table th {
        background-color: #eee;
        display: block;
        border-right: none;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #bbb;
        display: block;
        font-size: .8em;
        text-align: right;
        position: relative;
        padding: .625em .625em .625em 4em;
        border-right: none;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
    }

    table td:last-child {
        border-bottom: 0;
    }
}



.container_standard {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}



.item {
    width: 50px;
    height: 50px; 
    background-color: pink;
    border-radius: 50%; 
    margin: 0 auto;/* ←ブロック要素が左右に中央揃え */
}

